<section class="my-5">
    <div class="max-w-6xl sm:w-[80%] mx-auto mt-3 ">
        <div class="grid grid-cols-12 p-8 rounded-sm bg-main-light">
            <div class="left-part pe:4 col-span-3 py-2 flex items-start">
                <ul>
                    <li class=" mb-4 flex items-center space-x-1"><span class="inline">1. </span> <span
                            class="text-[#636669] font-semibold flex items-center">User Email:@if (step>0){<i
                                class="fa-solid text-sm fa-check"></i>}</span> </li>
                   @if (step>0){ <li     class=" mb-4 flex items-center space-x-1"><span class="inline">2. </span> <span
                            class="text-[#636669] font-semibold flex items-center">Verify Reset Code:@if (step>1){<i
                                class="fa-solid text-sm fa-check"></i>}</span> </li>}
                   @if (step>1){ <li class=" mb-4 flex items-center space-x-1"><span class="inline">3. </span> <span
                            class="text-[#636669] font-semibold flex items-center">Reset Password:@if (flag){<i
                                class="fa-solid text-sm fa-check"></i>}</span> </li>}
                </ul>
            </div>
            <div class="right-part px-10  col-span-9 border-l-3 border-l-[#dee2e6]">
                @if (step===0) {
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="onclick()">

                    <div class=" py-2">
                        <h2 class="text-[#555965] mb-5 font-semibold text-xl">Enter your email and we'll send you
                            instructions on
                            how to reset your password:</h2>
                        <label for="id" class="mb-2 text-md font-light flex justify-between align-center">
                            <h5>
                                <span class="text-red-600">*</span>Email
                            </h5>
                            @if(forgetPasswordForm.get("email")?.touched&&forgetPasswordForm.get("email")?.getError("required")){
                            <p class="text-red-600"> required
                                <i class="fa-solid  my-auto text-xs text-red-600 fa-xmark"></i>
                            </p>
                            }
                            @if(forgetPasswordForm.get("email")?.touched&&forgetPasswordForm.get("email")?.getError("email")){
                            <p class="text-red-600"> email address is invalid
                                <i class="fa-solid  my-auto text-xs text-red-600 fa-xmark"></i>
                            </p>
                            }
                           
                             @if(isValidRes){ 
                                <p class="text-main font-semibold"> Reset code sent to your email successfully!
                                </p>}
                                @if(forgetPasswordForm.get("email")?.touched&&forgetPasswordForm.get("email")?.valid&&!isValidRes)
                        {<i class="fa-solid my-auto text-xs text-green-600 fa-check"></i>}
                            
                          

                        </label>
                        <input formControlName="email" type="email" id="email" class=" border border-gray-300 mb-5 text-sm rounded-lg 
                        block w-full p-2.5" placeholder="ex. aaaa@aaa.aa" required />
                        <div class="btn-container flex justify-end">
                            <app-button [isValid]="forgetPasswordForm.valid" [isLoading]="isLoading"
                                [isINValid]="forgetPasswordForm.invalid">Send Code</app-button>

                        </div>
                    </div>
                </form>}
                @if (step===1){
                <app-verify-code (step)="onStepChanged($event)" [email]="forgetPasswordForm.get('email')?.value"></app-verify-code>
                }
                @if (step===2){
                    <app-reset-password (flag)="controlMark($event)" [email]="emailValue"></app-reset-password>
                }
            </div>
        </div>
    </div>
</section>