<div class="">
    <div class="grid md:w-1/2 gap-y-5 mb-4 grid-cols-12">
        <div class="col-span-6">

            <p class="text-[#212529] text-xl font-bold">Name</p>


        </div>
        <div class="col-span-6">
            <div class="flex text-lg space-x-6 items-center">

                <p>:</p>
                <p>{{addressItem.name}}</p>
            </div>
        </div>
        <div class="col-span-6">

            <p class="text-[#212529] text-xl font-bold">city</p>


        </div>
        <div class="col-span-6">
            <div class="flex text-lg space-x-6 items-center">

                <p>:</p>
                <p>{{addressItem.city}}</p>
            </div>
        </div>
        <div class="col-span-6">

            <p class="text-[#212529] text-xl font-bold">Description</p>


        </div>
        <div class="col-span-6">
            <div class="flex text-lg space-x-6 items-center">

                <p>:</p>
                <p>{{addressItem.details}}</p>
            </div>
        </div>
        <div class="col-span-6">

            <p class="text-[#212529] text-xl font-bold">Phone</p>


        </div>
        <div class="col-span-6">
            <div class="flex text-lg space-x-6 items-center">

                <p>:</p>
                <p>{{addressItem.phone}}</p>
            </div>
        </div>

    </div>

</div>