
              <div
              (click)="navigate(brand._id)"
               class="contain p-5 border-transparent border-5 rounded-lg hover:border-[#0aad0a] transition-all ease-out duration-700">
                  <figure class="border-b mb-2 border-[#c7c8c9]">
                    <img [src]="brand.image" class="w-full" alt="">
                </figure>
                <p class="font-semibold text-lg text-[#626568]">{{brand.name}}</p>
                <p class="lowercase text-main font-semibold">{{brand.name}}</p>

              </div>

